<p> You are signed in as <%= current_user.name%> </p>
<p> Role: <%= current_user.roles.first.name %>

<% for_device_type :mobile do %>
  	<%= stylesheet_link_tag "mobile" %>
<% end %>

<div class="center hero-unit">
  <h1>Home</h1>



<div width = "100%">
<%= link_to "Sleep Data", sleep_data_path, :class=> "btn btn-large btn-block btn-primary" %></br></br>
<%= link_to "Request Meeting", new_meeting_path, :class=> "btn btn-large btn-block btn-primary" %></br></br>
<%= link_to "View Meeting Requests", meetings_path, :class=> "btn btn-large  btn-primary" %></br></br>
</div>
<%if current_user.roles.first.name != "Family" %>
<%= link_to "Health Data", @Health_Data, :class=> "btn btn-large btn-primary" %></br></br>
<%= link_to "Movement Outside The Home", gps_data_path, :class=> "btn btn-large btn-primary" %></br></br>
<%= link_to "Movement Within The Home", sensor_data_path, :class=> "btn btn-large btn-primary" %></br></br>
<%end%>

<%if current_user.roles.first.name == "Patient" %>

<%= form_for(@panic_alarm) do |f| %>
	<div class="field">
    	<%= f.hidden_field :activated, :value =>'true' %>
  	</div>
  	<div class="actions">
    	<%= f.submit "Panic Alarm", :class => "btn btn-large btn-primary"   %>
  	</div>
<% end %>
<%= link_to "Input Number of Cigarettes Today", new_cigs_per_day_path, :class=> "btn btn-large btn-primary" %></br></br>
<%end%>

<%if current_user.roles.first.name == "Family" %>

<%= link_to "Panic Alarm History", panic_alarms_path, :class=> "btn btn-large btn-primary" %></br></br>
<%= link_to "View Health Data and Notes", instructions_family_index_path, :class=> "btn btn-large btn-primary" %></br></br>

<%= link_to "View Movements", movements_family_index_path, :class=> "btn btn-large btn-primary" %></br></br>
<% end%>

<%if current_user.roles.first.name == "Social Worker" %>

<%= link_to "View GP Diagnosis", @gp_diagnosis, :class=> "btn btn-large btn-primary" %></br></br>
<%= link_to "Write Diary", new_sw_diary_path, :class=> "btn btn-large btn-primary" %></br></br>
<%end%>

<%if current_user.roles.first.name == "GP" %>

<%= link_to "Write Diagnosis", new_gp_diagnosis_path, :class=> "btn btn-large btn-primary" %></br></br>
<%end%>

</div>
