<p id="notice"><%= notice %></p>

<p>
  <b>Requested by:</b>
  <%= @meeting.requested_by %>
</p>

<p>
  <b>With:</b>
  <%= @meeting.with %>
</p>

<p>
  <b>Date:</b>
  <%= @meeting.date %>
</p>

<p>
  <b>Time:</b>
  <%= @meeting.time %>
</p>

<p>
  <b>Response:</b>
  <%= @meeting.response %>
</p>

<p>
  <b>Notes:</b>
  <%= @meeting.notes %>
</p>


<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
