
<p>
  <b>Weight:</b>
  <%= @health_datum.weight %>
</p>

<p>
  <b>Height:</b>
  <%= @health_datum.height %>
</p>

<p>
  <b>Respitory rate:</b>
  <%= @health_datum.respitory_rate %>
</p>

<p>
  <b>Blood pressure:</b>
  <%= @health_datum.blood_pressure %>
</p>

<p>
  <b>Coughs per day:</b>
  <%= @health_datum.coughs_per_day %>
</p>
